<div class="col-md-8 mx-auto">
    <div class="card">
        <div class="card-body">
            <h4>Luz: {{json.luz}}</h4>
            <a href="/apagarluz" class="btn btn-outline-primary">
                Apagar
            </a>
            <a href="/encenderluz" class="btn btn-outline-primary">
                Encender
            </a>
        </div>
    </div>
</div>