<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IoT Casa Ce</title>
    <!--Boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="/css/main.css">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/5815b2b1b5.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="row">
    
    <div class="col-md-9 mt-4">
        <main class="container-fluid">
            <div class="jumbotron mt-4">
                <h1 class="display-4">IoT y Node</h1>
                <p class="lead">Conectando internet en las cosas con Plcs Siemens, Node-red y Node.js</p>
                    <hr class="my-4">
                {{{ body }}}
            </div>   
        </main>
    </div>
    <div class="col-md-2">
        <nav class="menuvertical">
            <a href="/" class="btn btn-outline-primary">
                <i class="fas fa-undo"></i><br>
                Reset
            </a>
            <a href="/temperatura" class="btn btn-outline-primary">
                <i class="fas fa-temperature-high"></i><br>
                Temperatura
            </a>
            <a href="/luz" class="btn btn-outline-primary">
                <i class="fas fa-lightbulb"></i><br>
                Luz
            </a>
            <a href="/co2" class="btn btn-outline-primary">
                <i class="fas fa-seedling"></i><br>
                Co2
            </a>
        </nav>
    </div>
</div>

 
  
</body>
</html>